@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300;1,400&display=swap);
@import 'normalize.css';

:root{
  --font-family: 'IBM Plex Sans', san-serif;

  --max-width-layout: 1300px;
  --size-logo: 70px;
  --background-primary: #263238;
  --background-menu: #0F1416;
  --color-primary: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  background-color: var(--background-primary);
  color: var(--color-primary);
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

// custom srollbar
html *::-webkit-scrollbar{
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb{
  border-radius: 4px;
  background-color: rgb(0, 0, 0, .15);
}

html *::-webkit-scrollbar-track{
  border-radius: 0;
  background-color: rgb(0, 0, 0, 0);
}
